<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="MainApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="MainApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="MainApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="MainApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mínim EA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="application/javascript" src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="container" ng-controller="core_student">

    <div class="starter-template">
        <h1><span class="label label-success">{{ students.length }}</span> estudiant/s</h1>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <table class="table table-striped">
                <tr class="info">
                    <td>ID</td>
                    <td>Nom</td>
                    <td>Adreça</td>
                    <td>Tipus</td>
                    <td>Número</td>
                </tr>
                <tr ng-repeat="student in students" ng-click="selectStudent(student)">
                    <td>{{student._id}}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.address }}</td>
                    <td><div ng-repeat="phone in student.phones" ng-click="selectPhone(phone)">{{ phone.type }}<br></div></td>
                    <td><div ng-repeat="phone in student.phones" ng-click="selectPhone(phone)">{{ phone.number }}<br></div></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4 col-sm-offset-1 text-center">
            <h2>Administrar alumnes</h2>
            <form name="myForm">
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center" placeholder="Nom"
                           ng-model="newStudent.name" required>
                    <br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Adreça"
                           ng-model="newStudent.address" required>
                    <br>
                </div>

                <!-- Acciones que podemos realizar en el formulario -->
                <button type="submit" class="btn btn-success btn-lg" ng-click="registrarStudent()"
                        ng-disabled="myForm.$invalid">Registrar
                </button>
                <button type="submit" class="btn btn-warning btn-lg" ng-click="modificarStudent(newStudent)"
                        ng-disabled="!newStudent.name || !newStudent.address || !selected">
                    Modificar
                </button>
                <button type="submit" class="btn btn-danger btn-lg" ng-click="borrarStudent(newStudent)"
                        ng-disabled="!newStudent.name || !newStudent.address || !selected">
                    Esborrar
                </button>
                <h2>Telèfons</h2>
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center" placeholder="Tipus"
                           ng-model="newStudent.type" required>
                    <br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Número"
                           ng-model="newStudent.number" required>
                </div>

                <!-- Acciones que podemos realizar en el formulario -->
                <button type="submit" class="btn btn-success btn-lg" ng-click="registrarPhone()"
                        ng-disabled="myForm2.$invalid">Registrar
                </button>
                </button>
                <button type="submit" class="btn btn-danger btn-lg" ng-click="borrarPhone(newStudent)"
                        ng-disabled="!newStudent.name || !newStudent.address || !newStudent.number || !newStudent.type || !selected">
                    Esborrar
                </button>

            </form>
    </div>
</div>
<div class="container" ng-controller="core_subject">

    <div class="starter-template">
        <h1><span class="label label-success">{{ subjects.length }}</span> assignatura/es</h1>
    </div>

    <div class="row">

        <table class="table table-striped">
            <tr class="info">
                <td>Nom</td>
                <td>Període</td>
                <td>Núm. d'alumnes</td>
            </tr>
            <tr ng-repeat="subject in subjects" ng-click="selectSubject(subject)">
                <td>{{ subject.name }}</td>
                <td>{{subject.periode}}</td>
                <td>{{subject.students.length}}</td>
            </tr>
        </table>

    </div>
    <div class="col-sm-3 text-left">
        <div>
            <table class="table table-striped">
                <tr  class="info">
                    <td>
                        Nom de l'assignatura
                    </td>
                    <td>
                        Període
                    </td>
                </tr>
                <tr>
                    <td>{{newSubject.name }}</td>
                    <td>{{newSubject.periode}}</td>
                </tr>
            </table>
            <table  class="table table-striped">
                <tr class="info">
                    <td>Llista d'alumnes</td>
                </tr>
                <tr ng-repeat="student2 in newSubject.students" ng-click="selectStudent(student2)">
                    <td>{{student2}}</td>
                </tr>
                <!-- <button type="submit" class="btn btn-success" ng-click="resolveid()">Mostrar noms</button> -->
            </table>

        </div>
    </div>
        <div class="col-sm-4 text-left">
        <label>Filtra per nom:</label> <input type="text" class="form-control input-lg text-center"
                                                  placeholder="Nom de l'assignatura" ng-model="newSubject.name">
        <button type="submit" class="btn btn-success" ng-click="filterSubject()">Filtrar</button><br>

        <label>Filtra per període:</label> <input type="number" class="form-control input-lg text-center"
                                                  placeholder="Període" ng-model="newSubject.periode">
            <button type="submit" class="btn btn-success" ng-click="filterSubjectbyPeriod()">Filtrar per període
            </button>
            <br>
            <table>
                <tr>
                    <td><label>Ordena alfabèticament</label></td>
                    <td>
                        <button type="submit" class="btn btn-success" ng-click="filterSubjectbyName()">Acceptar</button>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td><label>Ordena per nombre d'alumnes</label></td>
                    <td><button type="submit" class="btn btn-success" ng-click="filterSubjectbyNumber()">Acceptar</button></td>
                </tr>
            </table>
        </div>

    <div class="col-sm-4 text-right">

        <form name="miForm">
            <div class="form-group">
                <input type="text" class="form-control input-lg text-center" placeholder="Assignatura"
                       ng-model="newSubject.name" required>
                <br>
                <input type="number" class="form-control input-lg text-center" placeholder="Periode"
                       ng-model="newSubject.periode" required>
                <br>
            </div>

            <!-- Acciones que podemos realizar en el formulario -->
            <button type="submit" class="btn btn-success btn-lg" ng-click="registrarSubject()"
                    ng-disabled="miForm.$invalid">Registrar
            </button>
            <button type="submit" class="btn btn-warning btn-lg" ng-click="modificarSubject(newSubject)"
                    ng-disabled="!newSubject.name || !newSubject.periode || !selected">Modificar
            </button>
            <button type="submit" class="btn btn-danger btn-lg" ng-click="borrarSubject(newSubject)"
                    ng-disabled="!newSubject.name || !newSubject.periode || !selected">Esborrar
            </button>
        </form>
        <h2>Matrícula d'alumnes</h2>
        <form name="myForm2">
            <div class="form-group">
                <input type="text" class="form-control input-lg text-center" placeholder="ID Alumne"
                       ng-model="newStudent">
            </div>

            <!-- Acciones que podemos realizar en el formulario -->
            <button type="submit" class="btn btn-success btn-lg" ng-click="addStudentToSubject(newStudent)"
                    ng-disabled="myForm2.$invalid">Registrar
            </button>
            <button type="submit" class="btn btn-danger btn-lg" ng-click="borrarStudentFromSubject(newStudent)"
                    ng-disabled="!newSubject.name || !newSubject.periode || !newStudent || !selected">
                Esborrar
            </button>
        </form>
    </div>
</div>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script type="application/javascript" src="bower_components/angular/angular.js"></script>
<script type="application/javascript" src="bower_components/angular-route/angular-route.js"></script>
<script type="application/javascript" src="core_student.js"></script>
<script type="application/javascript" src="core_subject.js"></script>


</body>
</html>
